/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

<<<<<<< HEAD

=======
>>>>>>> a15a9183682b33e7b4dd7ad86995c508952d736f
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
<<<<<<< HEAD
  git statutext-decoration: none;
=======
  text-decoration: none;
>>>>>>> a15a9183682b33e7b4dd7ad86995c508952d736f
}
